@font-face { font-family: Joystix; src: url('../fonts/joystix monospace.otf'); } 

.unclickable
{
    /*Stop highlighting*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input
{
    border: 0px solid #000000;
    border-bottom-width: 2px;
    border-bottom-color: white;
    background-color: transparent;
}

body
{
    margin: 0;
    font-family: Joystix;
}

svg
{
    position: fixed;
    display:block;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
}

#left-tongue, #right-tongue
{
    position: absolute;
    width: 50%;
    height: 100%;
}

#right-tongue
{
    float:right;
}

#scores
{
    position: absolute;
    width: 100%;
    bottom: 0px;
    display: block;
}

#canvas
{
    z-index: -1;
}

.game h1,h2,input
{
    text-align: center;
    margin: 0 auto;
    display: block;
    color: white;
    /*Internet Magic Follows*/

}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.game {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.selectable:hover {
    color: #0099CC;
    cursor: pointer;
    text-shadow: -2px 2px #ffffff;
}


h1
{
    font-size: 7vw;
    cursor: default;
}

h2
{
    font-size: 2vw;

}

